.carousel {
  /* overflow: hidden; */
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-items {
  display: inline-flex;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}
