/* Utilities  */
/* .red-bor{
  border: 2px solid red;
}
.green-bor{
  border: 2px solid green;
}
.blue-bor{
  border: 2px solid blue;
}
.black-bor{
  border: 2px solid black;
} */


/* Navbar CSS  */
.drawer ul{
  padding-left: 0;
}
.drawer a{
  color: #060047;
}

.row{
  margin: 0;
}